/* FAQ Part */

.ask_questions {
    width: 100%;
    padding: 100px 0;
}

.ask_questions h2 {
    font-size: 62px;
    text-align: center;
    font-weight: 800;
    width: 53%;
    margin: 0 auto 55px;
}

.questions_one {
    width: 60%;
    height: 50px;
    border: 2px solid black;
    margin: 0 auto;
    line-height: 2.5;
    background-color: antiquewhite;
}

.questions_one:hover {
    text-decoration: underline;
}

.questions_one h3 {
    font-weight: 800;
    padding: 0px 20px;
}

.questions_two {
    width: 60%;
    height: 50px;
    border: 2px solid black;
    margin: 0 auto;
    line-height: 2.5;
    margin-top: 22px;
    background-color: antiquewhite;
}

.questions_two:hover {
    text-decoration: underline;
}

.questions_two h3 {
    font-weight: 800;
    padding: 0px 20px;
}

.questions_three {
    width: 60%;
    height: 50px;
    border: 2px solid black;
    margin: 0 auto;
    line-height: 2.5;
    margin-top: 22px;
    background-color: antiquewhite;
}   

.questions_three:hover {
    text-decoration: underline;
}


.questions_three h3 {
    font-weight: 800;
    padding: 0px 20px;
}

.questions_four {
    width: 60%;
    height: 50px;
    border: 2px solid black;
    margin: 0 auto;
    line-height: 2.5;
    margin-top: 22px;
    background-color: antiquewhite;
}

.questions_four:hover {
    text-decoration: underline;
}

.questions_four h3 {
    font-weight: 800;
    padding: 0px 20px;
}

.questions_five {
    width: 60%;
    height: 50px;
    border: 2px solid black;
    margin: 0 auto;
    line-height: 2.5;
    margin-top: 22px;
    background-color: antiquewhite;
}

.questions_five:hover {
    text-decoration: underline;
}

.questions_five h3 {
    font-weight: 800;
    padding: 0px 20px;
}   

.questions_six {
    width: 60%;
    height: 50px;
    border: 2px solid black;
    margin: 0 auto;
    line-height: 2.5;
    margin-top: 22px;
    background-color: antiquewhite;
}

.questions_six:hover {
    text-decoration: underline;
}

.questions_six h3 {
    font-weight: 800;
    padding: 0px 20px;
}

.questions_seven {
    width: 60%;
    height: 50px;
    border: 2px solid black;
    margin: 0 auto;
    line-height: 2.5;
    margin-top: 22px;
    background-color: antiquewhite;
}

.questions_seven:hover {
    text-decoration: underline;
}

.questions_seven h3 {
    font-weight: 800;
    padding: 0px 20px;
}

.questions_eight {
    width: 60%;
    height: 50px;
    border: 2px solid black;
    margin: 0 auto;
    line-height: 2.5;
    margin-top: 22px;
    background-color: antiquewhite;
}

.questions_eight:hover {
    text-decoration: underline;
}

.questions_eight h3 {
    font-weight: 800;
    padding: 0px 20px;
}