@import 'reset.css';

/* HOME PART */

header {
    padding: 18px 0;
    border-bottom: 2px solid black;
    width: 100%;
}

.main_header {
    display: flex;
    justify-content: space-between;
}

.logo h1 {
    font-size: 24px;
    color: #000000d6;
}

.logo h1:hover {
    text-decoration: underline;
    cursor: pointer;
}

nav {
    width: 44%;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav ul li a {
    font-size: 17px;
    font-weight: 700;
    color: #000000cf;
}

nav ul li a:hover {
    text-decoration: underline;
}


/* main_content */

.main_content {
    padding: 100px 0;
    background-color: antiquewhite;
    border-bottom: 2px solid black;
    width: 100%;
}

.box_content {
    display: flex;
    justify-content: space-between;
}

.frontend_content {
    width: 42%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.frontend_content h2 {
    font-size: 45px;
    font-weight: 800;
}

.frontend_content p {
    font-size: 21px;
    font-weight: 500;
    line-height: 1.6;
}

.frontend_content p span {
    font-weight: 700;
}

.btn {
    width: 58%;
}

.btn_left {
    padding: 12px 19px;
    font-size: 15px;
    font-weight: 600;
    border: 2px solid black;
    background-color: #ffffff;
    cursor: pointer;
}

.btn_left:hover {
    background-color: black;
    color: #ffffff;
}

.btn_right {
    padding: 12px 15px;
    font-size: 15px;
    font-weight: 600;
    border: 2px solid black;
    background: none;
    cursor: pointer;
    margin: 0 10px;
}

.btn_right:hover {
    background-color: black;
    color: #ffffff;
}

.image {
    width: 49%;
}

.image img {
    width: 100%;
}

/* resources_wrap */

.resources_wrap {
    padding: 40px 0;
    width: 100%;
}

.resources_box {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.resources_content {
    width: 60%;
    margin: 0 auto;

}

.resources_content h2 {
    font-size: 30px;
    text-align: center;
    font-weight: 800;
}

.resources_content p {
    font-size: 24px;
    text-align: center;
    font-weight: 500;
    width: 69%;
    margin: 40px auto;
}

.resourses_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 35px 0;
}

.resources_item {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 45%;
    height: 150px;
    border: 2px solid black;
    margin: 15px 0;
}

.resources_item img {
    width: 20%;
}

.resources_item p {
    width: 57%;
    font-size: 17px;
    text-align: center;
    font-weight: 500;
}

.text_btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text_btn h3 {
    font-size: 27px;
    font-weight: 800;
    width: 35%;
    text-align: center;
    margin: 25px 0;
}

.btn_resources button {
    padding: 12px 15px;
    font-size: 15px;
    font-weight: 600;
    border: 2px solid black;
    background: none;
    cursor: pointer;
}

.btn_resources button:hover {
    background-color: black;
    color: #ffffff;
}

/* footer */

footer {
    padding: 40px 0;
    background-color: black;
    width: 100%;
}

.foot_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foot_content h3 {
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
}

.foot_content ul {
    display: flex;
    width: 35%;
    justify-content: space-between;
    margin-top: 20px;
}

.foot_content ul li {
    font-size: 15px;
    font-weight: 700;
}

.foot_content ul li a {
    color: #ffffff;
}

/* PROJECTS PART */
.project_library {
    padding: 100px 0 60px;
    width: 100%;
}

.library_box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.library_box h2 {
    font-size: 62px;
    font-weight: 800;
}

.started_points {
    margin: 40px;
}

.started_points h3 {
    font-size: 23px;
    text-decoration: underline;
    text-align: center;
    font-weight: 800;
}

.started_points h4 {
    font-weight: 500;
    font-size: 21px;
    margin-top: 18px;
}

.started_points h4:nth-child(5) {
    font-weight: 700;
    font-size: 21px;
}

.view_all {
    padding: 11px 20px;
    background-color: black;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.level_one {
    padding: 11px 20px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    background: none;
    border: 2px solid black;
}

.level_one:hover {
    background-color: #bcff93;
}

.level_two {
    padding: 11px 20px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    background: none;
    border: 2px solid black;
}

.level_two:hover {
    background-color: #fcff74;
}


.level_three {
    padding: 11px 20px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    background: none;
    border: 2px solid black;
}

.level_three:hover {
    background-color: #ffd430;
}

input[type="text"] {
    width: 412px;
    height: 50px;
    padding: 0 15px;
    border: 2px solid black;
    margin: 15px 0;
    font-size: 18px;
}

.library_box h5 {
    font-size: 17px;
    width: 52%;
    margin-top: 25px;
    text-align: center;
}

/* list_projects */

.list_projects {
    width: 100%;
    padding: 0px 15px 70px;
    border-bottom: 2px solid black;
}

.practice_list {
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    gap: 35px;
}

.practice_item {
    border: 2px solid;
    transition: 0.3s all ease-in-out;
}

.practice_item:hover {
    transform: translateY(-7px);
}


.practice_item img {
    width: 100%;
    height: 400px;
    cursor: pointer;
}

/* retired-projects */

.retired-projects {
    padding: 70px 15px;
    width: 100%;
}

.retired_content h2 {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}

.retired_content p {
    text-align: center;
    font-weight: 700;
    font-size: 17px;
    width: 48%;
    margin: 30px auto 60px;
}

.retired_list {
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    gap: 35px;
}

.retired_item {
    border: 2px solid;
    transition: 0.3s all ease-in-out;
}

.retired_item:hover {
    transform: translateY(-7px);
}

.retired_item img {
    width: 100%;
    height: 400px;
    cursor: pointer;
}

/* Blog Part */

.practice_blog {
    width: 100%;
    padding: 100px 0; 
    background-color: #f7f7f7;
}

.blog_content h2 {
    font-size: 60px;
    text-align: center;
    font-weight: 800;
    width: 43%;
    margin: 0 auto;
}

.blog_content p {
    text-align: center;
    margin: 30px auto;
    font-weight: 500;
    font-size: 19px;
    width: 65%;
}

.blog_choice {
    width: 76%;
    margin: 0 auto;
    padding: 60px 0 0;
}

.text_head {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid;
    border-bottom: 1px solid;
    line-height: 2.5;
}

.text_head h2 {
    font-size: 21px;
    color: rgb(51, 51, 51);
    padding: 0 30px;
}

.text_center {
    display: flex;
    justify-content: space-between;
    line-height: 2.5;
}

.text_center h2 {
    font-size: 21px;
    color: rgb(51, 51, 51);
    padding: 0 30px;
}

.text_bottom {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid;
    border-bottom: 1px solid;
    line-height: 2.5;
}

.text_bottom h2 {
    font-size: 21px;
    color: rgb(51, 51, 51);
    padding: 0 30px;
}

.btn_head {
    line-height: 3.2;
    padding: 0px 25px;
}

.btn_head button {
    padding: 4px 8px;
    border-radius: 33%;
    background-color: black;
    color: #ffffff;
    font-weight: 500;
}

.btn_head button:hover {
  background-color:  #c7c3c3;
  border: none;
}

.btn_center {
    line-height: 3.2;
    padding: 0px 25px;
}

.btn_center button {
    padding: 4px 8px;
    border-radius: 33%;
    background-color: black;
    color: #ffffff;
    font-weight: 500;
}

.btn_center button:hover {
    background-color: #c7c3c3;
    border: none;
}

.btn_btm {
    line-height: 3.2;
    padding: 0px 25px;
}

.btn_btm button {
    padding: 4px 8px;
    border-radius: 33%;
    background-color: black;
    color: #ffffff;
    font-weight: 500;
}

.btn_btm button:hover {
    background-color: #c7c3c3;
    border: none;
}

/* FAQ Part */

.ask_questions {
    width: 100%;
    padding: 100px 0;
}

.ask_questions h2 {
    font-size: 62px;
    text-align: center;
    font-weight: 800;
    width: 53%;
    margin: 0 auto 55px;
}

.questions_one {
    width: 60%;
    height: 50px;
    border: 2px solid black;
    margin: 0 auto;
    line-height: 2.5;
    background-color: antiquewhite;
}

.questions_one:hover {
    text-decoration: underline;
}

.questions_one h3 {
    font-weight: 800;
    padding: 0px 20px;
}

.questions_two {
    width: 60%;
    height: 50px;
    border: 2px solid black;
    margin: 0 auto;
    line-height: 2.5;
    margin-top: 22px;
    background-color: antiquewhite;
}

.questions_two:hover {
    text-decoration: underline;
}

.questions_two h3 {
    font-weight: 800;
    padding: 0px 20px;
}

.questions_three {
    width: 60%;
    height: 50px;
    border: 2px solid black;
    margin: 0 auto;
    line-height: 2.5;
    margin-top: 22px;
    background-color: antiquewhite;
}   

.questions_three:hover {
    text-decoration: underline;
}


.questions_three h3 {
    font-weight: 800;
    padding: 0px 20px;
}

.questions_four {
    width: 60%;
    height: 50px;
    border: 2px solid black;
    margin: 0 auto;
    line-height: 2.5;
    margin-top: 22px;
    background-color: antiquewhite;
}

.questions_four:hover {
    text-decoration: underline;
}

.questions_four h3 {
    font-weight: 800;
    padding: 0px 20px;
}

.questions_five {
    width: 60%;
    height: 50px;
    border: 2px solid black;
    margin: 0 auto;
    line-height: 2.5;
    margin-top: 22px;
    background-color: antiquewhite;
}

.questions_five:hover {
    text-decoration: underline;
}

.questions_five h3 {
    font-weight: 800;
    padding: 0px 20px;
}   

.questions_six {
    width: 60%;
    height: 50px;
    border: 2px solid black;
    margin: 0 auto;
    line-height: 2.5;
    margin-top: 22px;
    background-color: antiquewhite;
}

.questions_six:hover {
    text-decoration: underline;
}

.questions_six h3 {
    font-weight: 800;
    padding: 0px 20px;
}

.questions_seven {
    width: 60%;
    height: 50px;
    border: 2px solid black;
    margin: 0 auto;
    line-height: 2.5;
    margin-top: 22px;
    background-color: antiquewhite;
}

.questions_seven:hover {
    text-decoration: underline;
}

.questions_seven h3 {
    font-weight: 800;
    padding: 0px 20px;
}

.questions_eight {
    width: 60%;
    height: 50px;
    border: 2px solid black;
    margin: 0 auto;
    line-height: 2.5;
    margin-top: 22px;
    background-color: antiquewhite;
}

.questions_eight:hover {
    text-decoration: underline;
}

.questions_eight h3 {
    font-weight: 800;
    padding: 0px 20px;
}

/* Contact part */

.contact_us {
    width: 100%;
    padding: 100px 0;
    background-color: antiquewhite;
}

.contact_content {
    width: 30%;
    margin: 0 auto;
}

.contact_us h2 {
    font-size: 45px;
    font-weight: 800;
}

.contact_us h4 {
    font-weight: 500;
    font-size: 14px;
    margin: 40px 0;
}

.contact_us a {
    text-decoration: underline;
    color: rgb(0 0 0);
}

.form_input {
    display: flex;
    flex-direction: column;
}

.form_input label {
    font-weight: 700;
}

.form_input input {
    width: 100%;
    font-size: 15px;
    font-weight: 500;
}

.form_input textarea {
    font-size: 15px;
    font-weight: 500;
    padding: 10px 15px;
    border: 2px solid black;
}

.btn_form button {
    padding: 14px 47px;
    background-color: #ffffff;
    border: 2px solid black;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    margin-top: 15px;
}

.btn_form button:hover {
    background-color: black;
    color: #ffffff;
}

/* Newsletter  */

.substack {
    width: 100%;
    padding: 30px 0;
} 

.image {
    margin: 0 auto;
}

.image img {
    
}

.substack h3 {
    text-align: center;
    font-size: 20px;
    color: #000000ba;
    font-weight: 800;
    margin: 30px 0 15px;
}

.substack p {
    width: 30%;
    margin: 0 auto;
    font-size: 15px;
    text-align: center;
    line-height: 1.7;
    color: #000000b0;
    font-weight: 400;
}

.substack h5 {
    text-align: center;
    font-weight: 500;
    color: #000000bf;
    margin-top: 10px;
}

.input_email {
    display: flex;
    justify-content: center;
    margin-top: 18px;
}

.input_email input {
    width: 24%;
    border: 1px solid black;
    height: 40px;
    border-radius: 5px;
}

.input_email button {
    height: 40px;
    width: 100px;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-weight: 600;
    border: none;
    margin: 15px 0px 15px -10px;
    cursor: pointer;
}

.btn_bottom {
    display: flex;
    justify-content: center;
}

.btn_bottom button {
    border: none;
    background: none;
    font-weight: 500;
    cursor: pointer;
    font-size: 12px;
    margin: 0 0 40px;
}

.substack h6 {
    font-size: 13px;
    font-weight: 300;
    text-align: center;
    margin: 0 auto;
    color: #808080b0;
}